@font-face {
  font-family: 'Poppin';
  src: url("./assets/fonts/Poppins-ExtraLight.ttf") format('truetype');
}
body {
  font-family: Poppin;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
